.nav_cont{
    width: 100%;
    /* padding-top: 30px; */
    background: #520b04;
    box-shadow: 2px 2px #000;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    box-shadow: 2px 2px 2px #000;
}
.nav_header{
    width: 100%;
    text-align: center;
}
.nav_header img{
    margin: 0 auto;
    
    margin-bottom: 30px;
}
.nav_items{
    margin: 0 auto;
    display: inline-flex;
    text-align: center;
    /* max-width: 400px; */
}
.nav_item{
    text-align: center;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
}
.nav_item:hover{
    background-color: #eee;
    color: black;
    transition: background-color color .5s;
}
/* .navbar1{
    width: 200px;
} */
/* .navbar3{
    width: 200px;
    color: white;
    font-weight: bold;
} */
.navbar2{
    text-align: center;
    padding: 10px 0px;
    margin: 0 auto;
    width: 500px;
    font-size: 18px;
}