p{
    padding-top: 20px;
    margin: 0;
    font-family: 'Bad Script', cursive;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.back_up{
    bottom: 0;
    right: 0;
    background-image: url('../images/arrow_up_fill.png');
    background-size: cover;
    height: 80px;
    width: 80px;
    position: fixed;
}